<div class="container">
<h2><a href="/decks">Play a new game!</a></h2>
  <h2><%= @user.name %> </h2>
  <% @user.rounds.each do |round| %>
    <h4>Deck Name: <%= round.deck.name %></h4>
    <h4>Date Played: <%= round.created_at %></h4>
    <h4>Cards in Deck: <%= round.cards.count %></h4>
    <h4>First Guest Correct: <%= round.answered_first_try %></h4>
    <h4>Total Guesses: <%= round.total_guesses %></h4>
  <% end %>
</div>
